---
version: '3'

# This networks section required for the pacakge to be visible to Traefik.
# DO NOT Remove
networks:
  traefik_network:
    external:
      name: homelabos_traefik

services:
  app:
    image: bytemark/webdav
    restart: unless-stopped
    volumes:
      - "{{ storage_dir }}/webdav:/var/lib/dav"
    environment:
      - AUTH_TYPE=Digest
      - USERNAME={{ default_username }}
      - PASSWORD={{ lookup('password', './settings/passwords/webdav_password chars=ascii_letters,digits') }}
      - LOCATION=/
    networks:
      - traefik_network
    labels:
      - "traefik.http.services.webdavserver.loadbalancer.server.scheme=http"
      - "traefik.http.services.webdavserver.loadbalancer.server.port=80"
      - "traefik.http.routers.webdavserver-http.middlewares={% if webdavserver.https_only %}redirect@file, {% else %}{% if webdavserver.auth %}{% if authelia.enable %}authelia@file{% else %}basicAuth@file{% endif %}, {% endif %}{% endif %}customFrameHomelab@file"
      - "traefik.http.routers.webdavserver.middlewares={% if webdavserver.auth %}{% if authelia.enable %}authelia@file{% else %}basicAuth@file{% endif %}, {% endif %}customFrameHomelab@file"
{% if enable_tor %}
      - "traefik.http.routers.webdavserver-tor-http.middlewares={% if webdavserver.auth %}{% if authelia.enable %}authelia-tor@file{% else %}basicAuth@file{% endif %}, {% endif %}customFrameHomelab-tor@file"
{% endif %}
{% include './labels.j2' %}
