---
version: '3'

networks:
  traefik_network:
    external:
      name: homelabos_traefik

services:
  xmpp-server:
    image: joschi/prosody-alpine:{{ prosody.version }}
    restart: unless-stopped
    volumes:
      - "{{ volumes_root }}/prosody/vhosts:/etc/prosody/conf.d"
      - "{{ volumes_root }}/prosody/modules:/usr/local/lib/prosody/modules"
      - "{{ volumes_root }}/prosody/data:/var/lib/prosody/data"
      - "{{ volumes_root }}/prosody/prosody.pid:/var/run/prosody/prosody.pid"
    ports:
      - '5222:5222'
      - '5269:5269'
    labels:
      - traefik.enable=true
      - traefik.docker.network=homelabos_traefik
      - traefik.http.routers.xmpp-server.rule=Host(`{{ service_domain }}`)
      - traefik.http.routers.xmpp-server.entrypoints=https
      - traefik.http.routers.xmpp-server.service=xmpp-server
      - traefik.http.routers.xmpp-server.tls=true
      - traefik.http.routers.xmpp-server.tls.domains[0].main={{ service_domain }}
      - traefik.http.routers.xmpp-server.tls.domains[1].main=${XMPP_GROUPS_URL}
      - traefik.http.routers.xmpp-server.tls.domains[2].main=${XMPP_GROUPS_URL}
{% if prosody.host_1 %}
      - traefik.http.routers.xmpp-server.tls.domains[3].main={{ prosody.host_1 }}
{% endif %}
{% if prosody.host_2 %}
      - traefik.http.routers.xmpp-server.tls.domains[4].main={{ prosody.host_2 }}
{% endif %}
{% if prosody.host_3 %}
      - traefik.http.routers.xmpp-server.tls.domains[5].main={{ prosody.host_3 }}
{% endif %}
      - traefik.http.routers.xmpp-server.tls.certresolver=http
      - traefik.http.services.xmpp-server.loadbalancer.server.scheme=http
      - traefik.http.services.xmpp-server.loadbalancer.server.port=5280
    networks:
      - traefik_network

  # mailu certdumper

  # XMPP http external upload: prosody-filer

  # XMPP stun/turn server: eturnal
