---
version: '3'

# This networks section required for the package to be visible to Traefik.
# DO NOT Remove
networks:
  traefik_network:
    external:
      name: homelabos_traefik

services:
  url:
    image: draganczukp/simply-shorten
    environment:
      username: {{ default_username }}
      password: {{ default_password }}
    volumes:
      - "{{ volumes_root }}/simply_shorten/urls.sqlite:/urls.sqlite"
    restart: unless-stopped
    networks:
      - traefik_network
    labels:
      - "traefik.http.services.simply_shorten.loadbalancer.server.scheme=http"
      - "traefik.http.services.simply_shorten.loadbalancer.server.port=4567"
      - "traefik.http.routers.simply_shorten-http.middlewares={% if simply_shorten.https_only %}redirect@file, {% else %}{% if simply_shorten.auth %}{% if authelia.enable %}authelia@file{% else %}basicAuth@file{% endif %}, {% endif %}{% endif %}customFrameHomelab@file"
      - "traefik.http.routers.simply_shorten.middlewares={% if simply_shorten.auth %}{% if authelia.enable %}authelia@file{% else %}basicAuth@file{% endif %}, {% endif %}customFrameHomelab@file"
{% if enable_tor %}
      - "traefik.http.routers.simply_shorten-tor-http.middlewares={% if simply_shorten.auth %}{% if authelia.enable %}authelia-tor@file{% else %}basicAuth@file{% endif %}, {% endif %}customFrameHomelab-tor@file"
{% endif %}
{% include './labels.j2' %}
