ADMIN_USER_EMAIL={{ admin_email }}
ADMIN_USER_NAME={{ admin_email }}
ADMIN_USER_PWD={{ lookup('password', './settings/passwords/plausible_admin_password chars=ascii_letters') }}
BASE_URL=https://plausible.{{ domain }}
SECRET_KEY_BASE={{ lookup('password', './settings/passwords/plausible_secret_key chars=ascii_letters length=64') }}
