---
version: '3'

# This networks section required for the package to be visible to Traefik.
# DO NOT Remove
networks:
  traefik_network:
    external:
      name: homelabos_traefik

services:
  trilium:
    image: 'zadam/trilium:latest'
    restart: unless-stopped
    volumes:
      - "{{ volumes_root }}/trilium/trilium-data:/root/trilium-data"
    networks:
      - traefik_network
    labels:
      - "traefik.http.services.trilium.loadbalancer.server.scheme=http"
      - "traefik.http.services.trilium.loadbalancer.server.port=8080"
      - "traefik.http.routers.trilium-http.middlewares={% if trilium.https_only %}redirect@file, {% else %}{% if trilium.auth %}{% if authelia.enable %}authelia@file{% else %}basicAuth@file{% endif %}, {% endif %}{% endif %}customFrameHomelab@file"
      - "traefik.http.routers.trilium.middlewares={% if trilium.auth %}{% if authelia.enable %}authelia@file{% else %}basicAuth@file{% endif %}, {% endif %}customFrameHomelab@file"
{% if enable_tor %}
      - "traefik.http.routers.trilium-tor-http.middlewares={% if trilium.auth %}{% if authelia.enable %}authelia-tor@file{% else %}basicAuth@file{% endif %}, {% endif %}customFrameHomelab-tor@file"
{% endif %}
{% include './labels.j2' %}
