---
version: '3'

networks:
  traefik_network:
    external:
      name: homelabos_traefik
  bulletnotes:

services:
  bulletnotes_db:
    image: mongo:3.2.21
    networks:
      - bulletnotes
    restart: unless-stopped
    command: mongod --smallfiles --oplogSize 128
    expose:
      - 27017
    volumes:
      - ./data/bulletnotes-db:/data/db
      - ./data/bulletnotes-db-dump:/dump

  bulletnotes:
    image: nickbusey/bulletnotes
    networks:
      - traefik_network
      - bulletnotes
    command: meteor --allow-superuser run
    working_dir: /BulletNotes
    restart: unless-stopped
    environment:
      - MONGO_URL=mongodb://bulletnotes_db:27017/bulletnotes
      - ROOT_URL=http://{% if bulletnotes.domain %}{{ bulletnotes.domain }}{% else %}{{ bulletnotes.subdomain + "." + domain }}{% endif %}
    labels:
      - "traefik.http.services.bulletnotes.loadbalancer.server.scheme=http"
      - "traefik.http.services.bulletnotes.loadbalancer.server.port=3000"
      - "traefik.http.routers.bulletnotes-http.middlewares={% if bulletnotes.https_only %}redirect@file, {% else %}{% if bulletnotes.auth %}{% if authelia.enable %}authelia@file{% else %}basicAuth@file{% endif %}, {% endif %}{% endif %}customFrameHomelab@file"
      - "traefik.http.routers.bulletnotes.middlewares={% if bulletnotes.auth %}{% if authelia.enable %}authelia@file{% else %}basicAuth@file{% endif %}, {% endif %}customFrameHomelab@file"
{% if enable_tor %}
      - "traefik.http.routers.bulletnotes-tor-http.middlewares={% if bulletnotes.auth %}{% if authelia.enable %}authelia-tor@file{% else %}basicAuth@file{% endif %}, {% endif %}customFrameHomelab-tor@file"
{% endif %}
{% include './labels.j2' %}
