---
version: '3'

networks:
  traefik_network:
    external:
      name: homelabos_traefik
  ethercalc:

services:
  ethercalc_redis:
    image: redis:latest
    networks:
      - ethercalc
    volumes:
      - {{ volumes_root }}/ethercalc/redis:/data
    command: redis-server --appendonly yes
    restart: unless-stopped

  ethercalc:
    # REQUIRED
    image: audreyt/ethercalc
    restart: unless-stopped
    networks:
      - traefik_network
      - ethercalc
    environment:
      - REDIS_PORT_6379_TCP_ADDR=ethercalc_redis
      - RESIS_PORT_6379_TCP_PORT=6379
    labels:
      - "traefik.http.services.ethercalc.loadbalancer.server.scheme=http"
      - "traefik.http.services.ethercalc.loadbalancer.server.port=8000"
      - "traefik.http.routers.ethercalc-http.middlewares={% if ethercalc.https_only %}redirect@file, {% else %}{% if ethercalc.auth %}{% if authelia.enable %}authelia@file{% else %}basicAuth@file{% endif %}, {% endif %}{% endif %}customFrameHomelab@file"
      - "traefik.http.routers.ethercalc.middlewares={% if ethercalc.auth %}{% if authelia.enable %}authelia@file{% else %}basicAuth@file{% endif %}, {% endif %}customFrameHomelab@file"
{% if enable_tor %}
      - "traefik.http.routers.ethercalc-tor-http.middlewares={% if ethercalc.auth %}{% if authelia.enable %}authelia-tor@file{% else %}basicAuth@file{% endif %}, {% endif %}customFrameHomelab-tor@file"
{% endif %}
{% include './labels.j2' %}
