---
version: '3'

networks:
  traefik_network:
    external:
      name: homelabos_traefik

services:
  nodered:
    image: nodered/node-red:latest-12-minimal
    restart: unless-stopped
    environment:
      - TZ="{{common_timezone}}"
      - NODE_OPTIONS="{{nodered.node_options}}"
      - NODE_RED_ENABLE_PROJECTS="{{nodered.enable_projects}}"
      - NODE_RED_ENABLE_SAFE_MODE="{{nodered.safe_mode}}"
    volumes:
      - {{ volumes_root }}/nodered/data:/data
    networks:
      - traefik_network
    labels:
      - "traefik.http.services.nodered.loadbalancer.server.scheme=http"
      - "traefik.http.services.nodered.loadbalancer.server.port=1880"
      - "traefik.http.routers.nodered-http.middlewares={% if nodered.https_only %}redirect@file, {% else %}{% if nodered.auth %}{% if authelia.enable %}authelia@file{% else %}basicAuth@file{% endif %}, {% endif %}{% endif %}customFrameHomelab@file"
      - "traefik.http.routers.nodered.middlewares={% if nodered.auth %}{% if authelia.enable %}authelia@file{% else %}basicAuth@file{% endif %}, {% endif %}customFrameHomelab@file"
{% if enable_tor %}
      - "traefik.http.routers.nodered-tor-http.middlewares={% if nodered.auth %}{% if authelia.enable %}authelia-tor@file{% else %}basicAuth@file{% endif %}, {% endif %}customFrameHomelab-tor@file"
{% endif %}
{% include './labels.j2' %}
