---
version: '3'

# This networks section required for the pacakge to be visible to Traefik. 
# DO NOT Remove
networks:
  traefik_network:
    external:
      name: homelabos_traefik
  default:

services:
  postgres:
    image: postgres:12-alpine
    networks:
      - default
    volumes:
      - "{{ volumes_root }}/cachet/data:/var/lib/postgresql/data"
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
    restart: always

  cachet:
    image: cachethq/docker:2.3-latest
    networks:
      - default
      - traefik_network
    links:
      - postgres:postgres
    environment:
      - DB_DRIVER=pgsql
      - DB_HOST=postgres
      - DB_PORT=5432
      - DB_DATABASE=postgres
      - DB_USERNAME=postgres
      - DB_PASSWORD=postgres
      - DB_PREFIX=chq_
      - APP_KEY=${APP_KEY:-null}
      - APP_LOG=errorlog
      - APP_ENV=${APP_ENV:-production}
      - APP_DEBUG=false
      - DEBUG=false
    depends_on:
      - postgres
    restart: unless-stopped
    labels:
      - "traefik.enable=true"
      - "traefik.docker.network=homelabos_traefik"
      - "traefik.http.services.cachet.loadbalancer.server.scheme=http"
      - "traefik.http.services.cachet.loadbalancer.server.port=8000"
      - "traefik.http.routers.cachet-http.rule=Host(`{% if cachet.domain %}{{ cachet.domain }}{% else %}{{ cachet.subdomain + "." + domain }}{% endif %}`)"
      - "traefik.http.routers.cachet-http.entrypoints=http"
{% if not cachet.https_only %}
      - "traefik.http.routers.cachet-http.middlewares={% if cachet.https_only %}redirect@file, {% else %}{% if cachet.auth %}{% if authelia.enable %}authelia@file{% else %}basicAuth@file{% endif %}, {% endif %}{% endif %}customFrameHomelab@file"
{% else %}
      - "traefik.http.middlewares.redirect-to-https.redirectscheme.scheme=https"
      - "traefik.http.routers.cachet-http.middlewares=redirect-to-https"
{% endif %}
      - "traefik.http.routers.cachet.rule=Host(`{% if cachet.domain %}{{ cachet.domain }}{% else %}{{ cachet.subdomain + "." + domain }}{% endif %}`)"
      - "traefik.http.routers.cachet.entrypoints=https"
      - "traefik.http.routers.cachet.middlewares={% if cachet.auth %}{% if authelia.enable %}authelia@file{% else %}basicAuth@file{% endif %}, {% endif %}customFrameHomelab@file"
      - "traefik.http.routers.cachet.tls=true"
{% if traefik.dns_challenge_provider %}
      - "traefik.http.routers.cachet.tls.certresolver=dns"
      - "traefik.http.routers.cachet.tls.domains[0].main={{ domain }}"
      - "traefik.http.routers.cachet.tls.domains[0].sans=*.{{ domain }}"
{% else %}
      - "traefik.http.routers.cachet.tls.certresolver=http"
{% endif %}
{% if enable_tor %}
      - "traefik.http.routers.cachet-tor-http.rule=Host(`{{ cachet.subdomain }}.{{ tor_domain }}`)"
      - "traefik.http.routers.cachet-tor-http.entrypoints=http"
      - "traefik.http.routers.cachet-tor-http.middlewares={% if cachet.auth %}{% if authelia.enable %}authelia-tor@file{% else %}basicAuth@file{% endif %}, {% endif %}customFrameHomelab-tor@file"
{% endif %}