---
version: '3'

services:
  homebridge:
    image: oznu/homebridge:latest
    restart: unless-stopped
    network_mode: host
    environment:
      - TZ={{ common_timezone }}
      - PUID={{ uid_output.stdout }}
      - PGID={{ gid_output.stdout }}
    volumes:
      - "{{ volumes_root }}/homebridge:/homebridge"
    labels:
      - "traefik.http.services.homebridge.loadbalancer.server.scheme=http"
      - "traefik.http.services.homebridge.loadbalancer.server.port=8123"
      - "traefik.http.routers.homebridge-http.middlewares={% if homebridge.https_only %}redirect@file, {% else %}{% if homebridge.auth %}{% if authelia.enable %}authelia@file{% else %}basicAuth@file{% endif %}, {% endif %}{% endif %}customFrameHomelab@file"
      - "traefik.http.routers.homebridge.middlewares={% if homebridge.auth %}{% if authelia.enable %}authelia@file{% else %}basicAuth@file{% endif %}, {% endif %}customFrameHomelab@file"
{% if enable_tor %}
      - "traefik.http.routers.homebridge-tor-http.middlewares={% if homebridge.auth %}{% if authelia.enable %}authelia-tor@file{% else %}basicAuth@file{% endif %}, {% endif %}customFrameHomelab-tor@file"
{% endif %}
{% include './labels.j2' %}
