---
version: '3'

# This networks section required for the package to be visible to Traefik.
# DO NOT Remove
networks:
  traefik_network:
    external:
      name: homelabos_traefik
  docs:

services:
  docs:
    restart: unless-stopped
    image: voryzen/mkdocs:{{ docs.version }}
    networks:
      - traefik_network
    environment:
      - PLUGINS: "gh_links, jinja2, mk2pdf, awesome-pages, git-revision-date-localized, mermaid2"
    volumes:
      - {{ volumes_root }}/docs/mkdocs.yml:/mkdocs.yml
      - {{ volumes_root }}/docs/software:/docs
    labels:
      - "traefik.http.services.docs.loadbalancer.server.scheme=http"
      - "traefik.http.services.docs.loadbalancer.server.port=8000"
{% include './labels.j2' %}
